body{
  font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
  background: #fff url(../img/bg.jpg) repeat top left;
  font-weight: 400;
  font-size: 15px;
  color: #1d3c41;
  overflow-y: scroll;
}
.first {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
